{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/import.css' %}">
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block navbar %}
<div class="logout">
    <a class="nav-link" style="color:#9ab6fc" href="/logout">Logout</a>
</div>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <h2> Welcome home {{ name }}</h2>
        </div>
    </div>
{% endblock %}
