{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/import.css' %}">
    <script type="text/javascript" src="{% static 'javascript/facial_capture.js' %}"></script>
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <h1>Upload a file</h1>
            <div class="inner-container">
                <form>
                    {% csrf_token %}
                    <video id="video" width="640" height="480" autoplay></video>
                    <button class="btn btn-block btn-primary tx-tfm" id="send" type="button">Snap</button>
                    <canvas id="image_canvas" width="640" height="480" style="background-color: grey"></canvas>
                    <button class="btn btn-block btn-primary tx-tfm" id="image_submit" type="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}