{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/instruction.css' %}">
{% endblock %}
{% block body %}
    <div class="logo mb-3">
        <div class="col-md-12 text-center">
            <h1>Instruction</h1>
        </div>
    </div>

    <div class="myform">
        <ul>
           <li>B1: Chụp ảnh thẻ (hoặc upload ảnh thẻ)&#10;và điền thông tin cá nhân</li>
           <li>B2: Chụp ảnh cá nhân</li>
        </ul>
        <div class="col-md-12 text-center ">
            <a class="btn btn-block mybtn btn-primary tx-tfm" href="/signup/info_register">Next</a>
        </div>
    </div>
{% endblock %}